body {
  background-color: rgb(20, 180, 234);
  font-family: Arial, sans-serif;
  padding: 20px;
}

p {
  color: navy;
  margin-bottom: 15px;
  font-size: 16px;
}

div {
  border: 2px solid rgb(178, 121, 121);
  padding: 10px;
  border-radius: 5px;
}

h1, h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

ul {
  list-style-type: square;
  margin-left: 25px;
}

div:hover {
  border-color: rgb(129, 15, 15);
  box-shadow: 2px 2px 5px rgba(86, 86, 86, 0.3);
  transition: all 0.3s ease-in-out; 
}